/* Обнуление */































/* Эксперименты */

.link{
	color: blue;
}

.link-static{
	color: bisque;
}







/* todo: Тег не поддался классу */
a{
	color: green;
}

.menu-button{
	color: darkblue;
}



#section {
	color: blueviolet;
}


/* Коробка - розовый */
.box{
	color: pink;
}

/* Коробка Класса насекомые - коричневый */
.insect{
	color: brown;
}

/* Коробка Класса млекопитающие -  голубой*/
.mammal{
	color: lightblue;
}

/* Коробка Класса птицы - оранжевый */
.bird{
	color: orange;
}

/* Коробка Класса рептилии -  фиолетовый*/
.reptile{
	color: violet;
}

/* Коробка Класса лучеперая рыба - синий */
.ray-finned-fish{
	color: darkblue;
}

/* Коробка Класса паукообразные - серый */
.arachnid{
	color: grey;
}

/* Коробка Класса амфибия - золотой */
.amphibian{
	color: gold;
}





/* Перебивка только заголовков */

/* Коробка Класса хищники - красный*/
.predator{
	color: red;
}

/* Коробка Класса всеядные - малиновый*/
.omnivore{
	 color: palevioletred;
}

/* Коробка Класса травоядные - зеленый*/
.herbivore{
	color: green;
}

/* Заголовок коробки Класса хищники всегда- аквамариновый*/
/* Уточнение, помимо класса задан тег */
/* Точно ли можно без пробела? работает и с пробелом и без */
div.predator{
	color: aquamarine;
}

.predator{
	color: red;
}

/* Коробка содержащая одновременно два Класса млекопитающие и хищники - бежевый */
/* Уточнение, два класса одновременно, без пробелов, с пробелом только если например два тега */
/* Два класса круче */
.mammal.predator{
	color: antiquewhite;
}


/* ПЕРЕБИЛ все остальное т.к. два класса и не важно что разные уровни вложенности */

/* ВЛОЖЕННОСТЬ (дошло) Сначала верхний класс потом обязателен пробел потом нижний класс, порядок классов играе роль, нельзя снача нижний а потом верхний!!!!!!! */
/* Заголовок вопроса хищники - зеленый*/
.predator .question-title{
	color: green;
}


/* Заголовок вопроса всеядные - серебристый*/
.omnivore .question-title{
	color: silver;
}

/* Заголовок вопроса травоядные - красный*/
.herbivore .question-title{
	color: red;
}


/* todo: */
/* ПОЧЕМУ ВЛОЖЕННОСТЬ КЛАСС КЛАСС ОДНОГО УРОВНЯ ПЕРЕБИЛАСЬ ВЛОЖЕННОТЬ КЛАСС КЛАСС РАЗНЫХ УРОВНЕЙ??? */
.mammal.predator{
	color: antiquewhite;
}



/* ID не перебьет */
[title="Главный заголовок"]{
	color: red;
}



/* todo: ПОЧЕМУ?, приоритетность класс класс на разных уровнях вложенности сильнее чем класс класс на одном уровне
т.к. это просто уточнение получается? */
/* Перечисление, что вверху что внизу, без разницы - ПЕРЕБИВАЕТ
Но не перебьет нижнюю запись, при расположении записи ниже */
[class*="__title"]{
	color: black;
}

/* ПЕРЕБЬЕТ  ли предыдущую запись если так... */
/* Заголовок ответа хищники - бледно оранжевый*/
.predator .answer-title__title{
	color: lightsalmon;
}



/* Как работает первый уровень вложенности */

/* Уточнение классов на разных уровнях работает сильнее */
.omnivore .section .answer{
	color: black;

}

.section > p{
	 color: blueviolet; */
}



/* Перескакивание через рядность вложенностей невозможно! */
.omnivore .answer{
	color: black;
}


/* div большое имеет значение где он расположен, если поставить в начале - не работает */
.omnivore div, .answer{
	color: royalblue;
}
